

<div class="row">
  <div ui-view class="col-sm-8 cardHolder swipe"></div>

  <!-- Our unnamed main ui-view for this template -->
  <div class="col-sm-4">

    <div class="pa-sidebar well well-small"> 
      <h2>Reactions</h2>
      <input ng-model="query">
      
      <ul class="nav nav-list card-list">
        <!-- This <li> will only add the 'active' class if 'cards.detail' or its descendants are active
        AND if it is the link for the active contact (aka contactId) -->
        <li ng-class="{ 'cardListStrike' : isKnown(card.id) }"  
         ng-repeat="card in cards | filter:query" ui-sref-active="active">
          <!-- Here's a ui-sref that is also providing necessary parameters -->
          <a onclick="$(window).scrollTop(0);" ui-sref="cards.detail({cardId:card.id})">{{card.name}}</a>
        </li>
      </ul>

      <!-- Another named view -->
      <div ui-view="menuTip" class="slide"></div>
    </div> <!-- end well -->

  </div>

  
</div>